@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDMVeJtmi_ueZifSVWwFJ-zoKM2nK2CEPPM9CAgiVQ3e15ZJx3t6vAbgm0uLDa4FQH7QE&usqp=CAU");
    height: 100vh;
    background-size: cover;
}

.top {
    background-image: linear-gradient(65deg, black, transparent), url('https://dkr0pu7ej5xex.cloudfront.net/wp-content/uploads/2017/04/24135159/Netflix-Background.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    display: inline;
}

#head {
    padding-left: 90%;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.btn {
    width: 15vw;
    margin: 10px;
    height: 5vh;
    background-color: transparent;
    color: #ffffff;
    border-width: 1px;
    border-radius: 3px;
    border-color: #ffffff;
    font-size: 15px;
    padding: 3px;
}

.btn-red-sm {
    border-radius: 6px;
    background-color: red;
    color: #ffffff;
    border: 0px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 0px;
    height: 5vh;
    width: 10vw;
}

.arranging-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding-top: 20px;
}

.netflix-logo {
    width: 200px;
    /* Adjust width as needed */
    height: auto;
    margin: 0px;
    margin-left: 20px;
}

div.center {
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 15%;
    display: inline-block;
    color: white;
}

#bigtext {
    font-size: 50px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

.center-arrangement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    width: 100%;
    align-self: center;
    font-weight: bold;
    margin-top: 12rem;
    flex-wrap: wrap;
}

.description {
    font-size: 20px;
    font-weight: normal;
}

.b1 {
    padding: 10px 20px;
}

.email-styling {
    height: 8vh;
    width: 30vw;
    background-color: transparent;
    border-width: 2px;
    box-shadow: none;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-btn {
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    height: 8vh;
    border-radius: 10px;
    border: none;
    width: 18vw;
    justify-content: center;
    padding: 20px;
    padding-bottom: 8px;
}

.separation {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    margin-left: 30px;
}

.bg-container {
    background-color: #000000;
    height: 100%;
    background-size: cover;
    padding-top: 5px;
}

.second-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

.btn-style {
    border-width: 1px;
}